# ==============================
# DATABASE & CACHE (Docker & Backend)
# ==============================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=password123
DB_DATABASE=bidding_db

REDIS_HOST=localhost
REDIS_PORT=6379

# ==============================
# BACKEND CONFIG
# ==============================
PORT=3000

# ==============================
# FRONTEND CONFIG
# ==============================
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
